.container {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--color-blue-4);
    color: var(--color-white-2);
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    max-width: 650px;
}

.content span {
    color: var(--color-yellow-2)
}

.content a {
    color: var(--color-white-2);
    text-decoration: inherit;
}